<% layout('template/layout') %>
<div class="inner-container mx-auto md:w-1/2 w-full rounded-xl my-4 py-6">
  <div class="flex flex-row items-baseline mx-4">
    <h1 class="text-2xl font-bold mb-4">Mes agendas</h1>
    <div data-action="new" class="ml-4 px-3 py-1 cursor-pointer bg-green-500 text-stone-900 rounded hover:bg-green-600 items-center">Nouvel agenda</div>
    <div data-action="import" class="ml-4 px-3 py-1 cursor-pointer bg-pink-500 text-stone-900 rounded hover:bg-pink-600 items-center">Importer agenda</div>
  </div>

  <% if (agendas && agendas.length) { %>
    <div class="list-agendas">
      <% agendas.forEach(a => { %>
        <div class="flex items-center justify-between px-4 py-3"
            data-agenda="<%= a._id %>">
          <div>
            <p class="font-semibold"><%= a.nom %>
            <% if(user._id.toString() !== a.user._id.toString()) { %>
                (Partagé avec vous)
                <% } %></p>
            <% if (a.description) { %>
              <p class="text-sm"><%= a.description %></p>
            <% } %>
          </div>

          <div class="flex gap-2">
            
            <div class="px-3 py-1 rounded cursor-pointer bg-sky-500 text-sm hover:bg-sky-400" data-action="invite">
              Invitation
            </div>
            <% if(user._id.toString() === a.user._id.toString()) { %>
            <div href="/agendas/edit/<%= a._id %>"
               class="px-3 py-1 rounded cursor-pointer bg-amber-500 text-sm hover:bg-amber-400" data-action="edit">
              Modifier
            </div>
            <div href="/agendas/export/<%= a._id %>"
               class="px-3 py-1 rounded cursor-pointer bg-purple-500 text-sm hover:bg-purple-400" data-action="export">
              Exporter
            </div>
            <% } else { %>
                <form action="/invitation/<%= a._id %>/remove/<%= user._id %>" method="GET" class="inline-form">
                  <button
                      type="submit"
                      class="px-3 py-1 rounded cursor-pointer bg-red-500 text-sm hover:bg-red-400"
                  >
                  Quitter
                  </button>
                </form>
            <% } %>
          </div>
        </div>
      <% }) %>
    </div>
  <% } else { %>
    <p class="text-center">Aucun agenda pour le moment.</p>
  <% } %>
</div>