<div
    class="text-clip appointment group appointment-color-<%= app.color %>"
    style="
        top: calc(<%= (app.startHour / 24) * 100%>%);
        height: calc((<%= app.durationHours %> / 24) * 100%>%);
        left: calc(<%= (app.colIndex / app.colCount) * 100%>%);
        width: calc(<%= (1 / app.colCount) * 100%>%);
    "
    data-agenda="<%= app.agendaId %>"
    data-start="<%= app.startHour %>"
    data-duration="<%= app.durationHours %>"
    data-day="<%= day %>"
    data-month="<%= month %>"
    data-year="<%= year %>"
    data-id="<%= app.id %>"
    data-recurrent="<%= !!app.recurrenceRule %>"
    data-id-rule="<%= app.recurrenceRule?._id %>"
    data-date-fin="<%= app.recurrenceRule?.date_fin == null ? 'never': '' %>"
    data-appointment
>
    <strong><%= app.nom %></strong>
    <% if (app.recurrenceRule) { %>
        <i class="fa fa-repeat text-xs ml-1"></i>
    <% } %>
    <br> 
    <%= app.startLabel %> - <%= app.endLabel %>
</div>