<div
    class="absolute bg-<%= app.color %>-700 border border-<%= app.color %>-300 rounded px-3 py-2 text-sm text-white shadow-md overflow-hidden hover:bg-<%= app.color %>-600 group appointment"
    style="
        top: calc(<%= (app.startHour / 24) * 100%>%);
        height: calc((<%= app.durationHours %> / 24) * 100%>%);
        left: calc(<%= (app.colIndex / app.colCount) * 100%>%);
        width: calc(<%= (1 / app.colCount) * 100%>%);
    "
    data-agenda="<%= app.agendaId %>"
    data-start="<%= app.startHour %>"
    data-duration="<%= app.durationHours %>"
    data-day="<%= app.start.getDay() %>"
>
    <strong><%= app.nom %></strong>

    <div class="inline-flex gap-3 rdv-actions invisible group-hover:visible">
        <form method="POST" action="/rdv/modif" class="m-0 p-0 leading-none">
            <input type="hidden" name="id" value="<%= app.id %>">
            <input type="hidden" name="day" value="<%= day %>">
            <input type="hidden" name="month" value="<%= month %>">
            <input type="hidden" name="year" value="<%= year %>">
            <input type="hidden" name="agendaId" value="<%= app.agendaId %>">
            <button
                type="submit"
                class="bg-blue-600 hover:bg-blue-400 w-4 h-4 rounded flex items-center justify-center text-white text-xs font-semibold leading-none p-0 cursor-pointer"
                title="Modifier le rendez-vous">
                ✎
            </button>
        </form>
        <form method="POST" action="/rdv/supp" class="m-0 p-0 leading-none">
            <input type="hidden" name="id" value="<%= app.id %>">
            <input type="hidden" name="day" value="<%= day %>">
            <input type="hidden" name="month" value="<%= month %>">
            <input type="hidden" name="year" value="<%= year %>">
            <input type="hidden" name="agendaId" value="<%= app.agendaId %>">
            <button
                type="submit"
                class="bg-red-600 hover:bg-red-400 w-4 h-4 rounded flex items-center justify-center text-white text-xs font-semibold leading-none p-0 cursor-pointer"
                title="Supprimer le rendez-vous">
                &times;
            </button>
        </form>
    </div>

    <br>
    <%= app.startLabel %> - <%= app.endLabel %>
</div>