<div class="flex md:items-center justify-between py-2 px-4 flex-col md:flex-row border-b calendar-header">
        <div class="flex items-center gap-2">
        <div class="px-2 py-1 calendar-header-button rounded cursor-pointer"  data-action="agendas-filter">
            <span class="fa fa-angle-double-left "></span>
        </div>
    </div>
    <div class="flex items-center justify-center gap-2">
        <a href="<%= previous_url %>" class="font-semibold px-2 py-1 calendar-header-button rounded-l-sm">
            <div>&lt;</div>
        </a>
        <span class="font-semibold text-center title-header"><%= title %></span>
        <a href="<%= after_url %>" class="font-semibold px-2 py-1 calendar-header-button rounded-r-sm">
            <div>&gt;</div>
        </a>
    </div>
    <div class="flex items-stretch md:items-center justify-between gap-2">
        <div class="flex items-center">
            <a href="/calendar/day" class="font-semibold px-2 py-1 calendar-header-button">
                <span >Aujourd'hui</span>
            </a>
        </div>
        
        <a href="/calendar/day" class="hidden md:block">
            <div class="md:px-3 py-1 calendar-header-button<%= view == "day" ? "--active" : "" %> rounded">Jour</div>
        </a>
        <a href="/calendar/week" class="hidden md:block">
            <div class="md:px-3 py-1 calendar-header-button<%= view == "week" ? "--active" : "" %> rounded">Semaine</div>
        </a>
        <a href="/calendar/month" class="hidden md:block">
            <div class="md:px-3 py-1 calendar-header-button<%= view == "month" ? "--active" : "" %> rounded">Mois</div>
        </a>
        <a href="/calendar/year" class="hidden md:block">
            <div class="md:px-3 py-1 calendar-header-button<%= view == "year" ? "--active" : "" %> rounded">Année</div>
        </a>

        <select name="" id="view-select" class="md:hidden">
            <option href="/calendar/day" value="day">Jour</option>
            <option value="week">Semaine</option>
            <option value="month">Mois</option>
            <option value="month">Année</option>
        </select>
    </div>
</div>