<%- include("template/header") -%>
<body>
    <div class="container m-auto w-3/5">
        <% const prevDay = day === 0 ? 30 : day - 1; %>
        <% const nextDay = day === 30 ? 0 : day + 1; %>
        <% const prevMonth = day === 0 ? month- 1 : month; %>
        <% const nextMonth = day === 30 ? month + 1 : month; %>
        <% const prevYear = month === 0 ? year - 1 : year; %>
        <% const nextYear = month === 11 ? year + 1 : year; %>

        <div class="flex items-center justify-between mb-6">
            <a href="/agendas?month=<%=month %>&year=<%= year %>" class="px-3 py-2 bg-gray-200 rounded hover:bg-gray-300">Retour</a>
            <a href="/daily?day=<%= prevDay %>&month=<%= prevMonth %>&year=<%= prevYear %>" class="px-3 py-2 bg-gray-200 rounded hover:bg-gray-300">←</a>
            <h1 class="text-2xl font-bold"><%= day+1 %> <%= monthName %> <%= year %></h1>
            <a href="/daily?day=<%= nextDay %>&month=<%= nextMonth %>&year=<%= nextYear %>" class="px-3 py-2 bg-gray-200 rounded hover:bg-gray-300">→</a>
        </div>

        <div class="grid grid-row-24 text-center font-semibold border-b pb-2 mb-2">
            <% hours.forEach((d) => { %>
            <% if (d) { %>
            <div class="grid grid-cols-2 gap-1">   
            <div class="p-4 bg-white border rounded shadow-sm text-left hover:bg-gray-100 "><%= d %></div>
            <div class="p-4 bg-white border rounded shadow-sm text-left hover:bg-gray-100"></div>
            </div>
            <% } else { %>
            <div></div>
            <% } %>
            <% }) %>
        </div>


    </div>
</body>
</html>