<div class="w-3/4 h-fit mx-auto p-6 mt-4 bg-stone-800 rounded-xl">
  <h1 class="text-2xl font-bold mb-4">Mes notifications</h1>

  <div class="flex gap-4 mb-4">
    <form action="/notifications/all-seen" method="POST" class="mb-4">
      <button type="submit" class="px-3 py-2 bg-green-600 rounded hover:bg-green-700 cursor-pointer">
        Marquer comme lues
      </button>
    </form>
    <form action="/notifications/all-delete" method="POST" class="mb-4">
        <button type="submit" class="px-3 py-2 bg-green-600 rounded hover:bg-green-700 cursor-pointer">
        Supprimer les notifications
      </button>
    </form>
  </div>


  <% if (notifications.length === 0) { %>
    <p class="text-gray-400">Aucune notification</p>
  <% } else {
   %>
    <ul class="space-y-2">
      <% notifications.forEach(n => { %>
      <% const concerneEqualConnecte = n.user_concerned && n.user_concerned._id.toString() == user._id.toString() %>
        <li class="p-3 rounded bg-stone-700 flex justify-between items-center">
          <span>
            <% const userText = n.user_concerned ? (concerneEqualConnecte ? "vous" : n.user_concerned.username) : "un utilisateur"; %>
            <% const userTextSujet = n.user_concerned ? (concerneEqualConnecte ? "Vous avez" : `${n.user_concerned.username} a`) : "Quelqu'un a"; %>
            <% if (n.type === 0) { %>
              L'agenda <b><%= n.agenda?.nom || "?" %></b> a été créé par <b> <%= userText %> </b>.
            <% } else if (n.type === 1) { %>
              Le nouveau rendez-vous <b><%= n.appointment?.nom || "?" %></b> a été créé par <b> <%= userText %> </b>.
            <% } else if (n.type === 2) { %>
              Le rendez-vous <b><%= n.appointment?.nom || "?" %></b> a été modifié par <b> <%= userText %></b>.
            <% } else if (n.type === 3) { %>
              Le rendez-vous <b><%= n.appointment?.nom || "?" %></b> a été supprimé par <b> <%= userText %></b>.
            <% } else if (n.type === 4) { %>
             <b> <%= userTextSujet %>  </b> été ajouté à l'agenda partagé <b><%= n.agenda?.nom || "?" %></b>.
            <% } else if (n.type === 5) { %>
             <b> <%= userTextSujet %> </b> été retiré de l'agenda partagé <b><%= n.agenda?.nom || "?" %></b>.
            <% } %>
          </span>

          <% if (!n.seen) { %>
            <span class="text-xs text-red-400 font-semibold">Non lu</span>
          <% } %>
        </li>
      <% }) %>
    </ul>
  <% } %>
</div>
