<div class=" h-fit my-16 bg-stone-800 mx-auto max-w-md p-6 shadow rounded-xl">
    <% 
    const dateDeb = new Date(rendezVous.date_Debut);
    const formMonth = (dateDeb.getMonth() + 1).toString().padStart(2, '0');
    const formDay = (dateDeb.getDate()).toString().padStart(2, '0');
    const formYear = dateDeb.getFullYear();
    const formDate = `${formYear}-${ formMonth }-${formDay}`;
    const heureDeb = (dateDeb.getUTCHours() + 1).toString().padStart(2, '0');

    const dateFin = new Date(rendezVous.date_Fin);
    const formMonthFin = (dateFin.getMonth() + 1).toString().padStart(2, '0');
    const formDayFin = (dateFin.getDate()).toString().padStart(2, '0');
    const formYearFin = dateFin.getFullYear();
    const formDateFin = `${formYearFin}-${ formMonthFin }-${formDayFin}`;
    const heureFin = (dateFin.getUTCHours() + 1).toString().padStart(2, '0');

    
    const name = rendezVous.nom;
    const rdvId = rendezVous._id.toString();

    const valideRecurrence = recurrence;

    let frequenceRegle = '';
    let regleId = '';
    let date_fin_ap = null;


    if(valideRecurrence){
        regleId = regle._id.toString();
        frequenceRegle = frequence;
        if(date_fin != null){
            const date_fin_av = new Date(date_fin);
            const formMonthFinRec = (date_fin_av.getMonth() + 1).toString().padStart(2, '0');
            const formDayFinRec = (date_fin_av.getDate()).toString().padStart(2, '0');
            const formYearFinRec = date_fin_av.getFullYear();
            date_fin_ap = `${formYearFinRec}-${ formMonthFinRec }-${formDayFinRec}`;
        }
    }
    
    %>

    <div class="flex items-center justify-between mb-6">
        <a href="/daily?day=<%= day %>&month=<%= month %>&year=<%= year %>" class="px-3 py-2 bg-stone-700 rounded hover:bg-stone-600">Retour</a>
        <h1 class="text-2xl font-bold">Modifier un Rendez-Vous</h1>
    </div>

    <div class="text-center font-semibold ">
        <form method="POST" action="/modif">
            <input type="hidden" name="day" value="<%= day %>">
            <input type="hidden" name="month" value="<%= month %>">
            <input type="hidden" name="year" value="<%= year %>">

            <div class="flex items-center justify-between mb-6">
                    <label class="flex-1 font-semibold mb-1 md-4" for="nom">Nom du rendez-vous</label>
                    <input id="nom" type="text" name="nom" placeholder="Nom" value="<%= name %>" required class="border px-3 py-2 rounded">


            </div>

            <div class="flex gap-4 mb-4">
                <div class="flex-1">
                    <label class="block font-semibold mb-1" for="date_debut">Date début</label>
                    <input id="date_debut" type="date" name="date_debut" value="<%= formDate %>" required class="w-full border px-3 py-2 rounded">
                </div>
                <div class="flex-1"> 
                    <label class="block font-semibold mb-1" for="heure_debut">Heure début</label>
                    <input id="heure_debut" type="time" name="heure_debut" value="<%= heureDeb %>:00" required class="w-full border px-3 py-2 rounded">
                </div>
            </div>

            <div class="flex gap-4 mb-4">
                <div class="flex-1">
                    <label class="block font-semibold mb-1" for="date_fin">Date fin</label>
                    <input id="date_fin" type="date" name="date_fin" value="<%= formDateFin %>" required
                        class="w-full border px-3 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-400">
                </div>
                <div class="flex-1">
                    <label class="block font-semibold mb-1" for="heure_fin">Heure fin</label>
                    <input id="heure_fin" type="time" name="heure_fin" value="<%= heureFin %>:00" required
                        class="w-full border px-3 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-400">
                </div>
            </div>

            <div class="flex items-center justify-between mb-6">
                <label class="bloc font-semibold mb-1" for="agendas">Agendas</label>
                <select id="agendaId" name="agendas" required class="bg-stone-800 border px-3 py-2 rounded" 
                <% if(isTheOwner) {%> disabled <%}%>
                >
                    <% agendas.forEach(loopAgenda => { 
                        let currentAgendaId = loopAgenda.id;
                        let isSelected = '';
                        if (rendezVous.agenda.toString() === currentAgendaId) {
                            isSelected = 'selected';
                        }
                    %>
                    <option value="<%= currentAgendaId %>" <%= isSelected %>><%= loopAgenda.nom %></option>
                    <% }); %>
                </select>

            </div>

            <div class="flex items-center justify-between mb-6">
                <label class="bloc font-semibold mb-1">Créateur</label>
                <% if (createur) { %>
                    <%= createur.username %>
                    <% if (!createur.profile_picture) { %>
                        <i class="fa fa-user text-2xl"></i>
                    <% } else { %>
                        <img src="<%=createur.profile_picture%>" alt="Photo de profil du créateur" class="w-10 h-10 rounded-full object-cover">
                    <% } %>
                <% }%>
            </div>

            <input type="hidden" name="id" value="<%= rdvId %>">
            <% if(valideRecurrence){%>
                <input type="hidden" name="idRegle" value="<%= regleId %>">
            <%} %>

            <div>
                <input type="checkbox" id="recurrence" name="recurrence" <% if(valideRecurrence){%> checked <%} %>/>
                <label for="recurrence">Récurrence du rendez-vous</label>
            </div>

            <div class="flex items-center justify-between mb-6" id="contenuCache" style="display: <% if(valideRecurrence){%> block <%}else{%> none <%}%>;">
                <div class="flex items-center justify-between mb-6">
                    <label class="bloc font-semibold mb-1" for="frequence">Récurrence :</label>
                    <select id="frequenceId" name="frequenceId" class="bg-stone-800 border px-3 py-2 rounded">
                        <option value="day1" <% if(frequenceRegle === 'day1'){%> selected <%}%> >Tous les jours</option>
                        <option value="month1" <% if(frequenceRegle === 'month1'){%> selected <%}%> >Tous les mois</option>
                        <option value="year1" <% if(frequenceRegle === 'year1'){%> selected <%}%> >Tous les ans</option>
                    </select>
                </div>

                <div class="flex items-center justify-between mb-6">
                    <label class="bloc font-semibold mb-1" for="fin_rec">Fin de la réccurrence :</label>
                    <select id="fin_rec" name="fin_rec" class="bg-stone-800 border px-3 py-2 rounded" onchange="afficherCalendar()">
                        <option value="never" <% if(date_fin_ap === null){%> selected <%}%> >Jamais</option>
                        <option value="specificalDate" <% if(date_fin_ap != null){%> selected <%}%> >Jusqu'au</option>
                    </select>
                </div>

                <div class="flex items-center justify-between mb-6" id="contenuCacheDateFin" style="display: <% if(date_fin_ap != null){%> block <%}else{%> none <%}%>">
                    <label class="bloc font-semibold mb-1" for="date_fin_rec">Sélectionnez la date de fin :</label>
                    <input id="date_fin_rec" type="date" name="date_fin_rec" value="<%= date_fin_ap %>" class="w-full border px-3 py-2 rounded">
                </div>
            </div>

            

            <input type="submit" value="Modifier" class="px-3 py-2 bg-green-600 rounded hover:bg-green-700 hover:cursor-pointer">
        </form>
    </div>
</div>

<script>
    const checkRecurrence = document.getElementById('recurrence');
    const contenuCache = document.getElementById('contenuCache');

    checkRecurrence.addEventListener('change', function() {
        if(this.checked){
            contenuCache.style.display = 'block';
        }else{
            contenuCache.style.display = 'none';
        }
    });

    const selectionSpecialDate = document.getElementById('fin_rec');
    const contenuCacheDateFin = document.getElementById('contenuCacheDateFin');

    function afficherCalendar(){
        const selectionSpecialDate = document.getElementById('fin_rec');
        const contenuCacheDateFin = document.getElementById('contenuCacheDateFin');
        const dateFinRecInput = document.getElementById('date_fin_rec');

        if(selectionSpecialDate.value == 'specificalDate'){
            contenuCacheDateFin.style.display = 'block';
            dateFinRecInput.required = true;
        }else{
            contenuCacheDateFin.style.display = 'none';
            dateFinRecInput.required = false;
        }
    }
</script>