<div class="h-fit my-16 bg-stone-800 mx-auto max-w-md p-6 shadow rounded-xl">
    <% const date = new Date(year,month, day);%>
    <% const dayName = date.toLocaleDateString('fr-FR', { weekday: 'long' }).toUpperCase(); 
        const formattedMonth = (month + 1).toString().padStart(2, '0');
        const formattedDay = (day).toString().padStart(2, '0');
        const formattedDate = `${year}-${formattedMonth}-${formattedDay}`;
        const formattedBeginningHour = beginningHour.toString().padStart(2, '0');
        const formattedEndHour = endHour.toString().padStart(2, '0');

    %>


    <div class="flex items-center justify-between mb-6">
        <a href="/daily?day=<%= day %>&month=<%= month %>&year=<%= year %>" class="px-3 py-2 bg-stone-700 rounded hover:bg-stone-600">Retour</a>
        <h1 class="text-2xl font-bold">Ajouter un Rendez-Vous</h1>
    </div>

    <div class="text-center font-semibold ">
        <form method="POST" action="/appointment/add">
            <input type="hidden" name="day" value="<%= day %>">
            <input type="hidden" name="month" value="<%= month %>">
            <input type="hidden" name="year" value="<%= year %>">

            <div class="flex items-center justify-between mb-6">
                    <label class="flex-1 font-semibold mb-1 md-4" for="nom">Nom du rendez-vous</label>
                    <input id="nom" type="text" name="nom" placeholder="Nom" required class="border px-3 py-2 rounded">


            </div>

            <div class="flex gap-4 mb-4">
                <div class="flex-1">
                    <label class="block font-semibold mb-1" for="date_debut">Date début</label>
                    <input id="date_debut" type="date" name="date_debut" value="<%= formattedDate %>" required class="w-full border px-3 py-2 rounded" min="<%= formattedDate %>">
                </div>
                <div class="flex-1"> 
                    <label class="block font-semibold mb-1" for="heure_debut">Heure début</label>
                    <input id="heure_debut" type="time" name="heure_debut" value="<%= formattedBeginningHour %>:00" required class="w-full border px-3 py-2 rounded">
                </div>
            </div>

            <div class="flex gap-4 mb-4">
                <div class="flex-1">
                    <label class="block font-semibold mb-1" for="date_fin">Date fin</label>
                    <input id="date_fin" type="date" name="date_fin" value="<%= formattedDate %>" required
                        class="w-full border px-3 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-400" min="<%= formattedDate %>">
                </div>
                <div class="flex-1">
                    <label class="block font-semibold mb-1" for="heure_fin">Heure fin</label>
                    <input id="heure_fin" type="time" name="heure_fin" value="<%= formattedEndHour %>:00" required
                        class="w-full border px-3 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-400">
                </div>
            </div>

            <div class="flex items-center justify-between mb-6">
                <label class="bloc font-semibold mb-1" for="agendas">Agendas</label>
                <select id="agendaId" name="agendas" required class="bg-stone-800 border px-3 py-2 rounded">
                    <% agendas.forEach(agenda => { %>
                    <option id="agendaId" name="agendaId" value="<%= agenda.id %>"><%= agenda.nom %></option>
                    <% }); %>
                </select>
            </div>

            <div>
                <input type="checkbox" id="recurrence" name="recurrence"/>
                <label for="recurrence">Récurrence du rendez-vous</label>
            </div>

            <div class="flex items-center justify-between mb-6" id="contenuCache" style="display: none;">
                <div class="flex items-center justify-between mb-6">
                    <label class="bloc font-semibold mb-1" for="frequence">Récurrence :</label>
                    <select id="frequenceId" name="frequenceId" class="bg-stone-800 border px-3 py-2 rounded">
                        <option value="day1">Tous les jours</option>
                        <option value="month1">Tous les mois</option>
                        <option value="year1">Tous les ans</option>
                    </select>
                </div>

                <div class="flex items-center justify-between mb-6">
                    <label class="bloc font-semibold mb-1" for="fin_rec">Fin de la réccurrence :</label>
                    <select id="fin_rec" name="fin_rec" class="bg-stone-800 border px-3 py-2 rounded" onchange="afficherCalendar()">
                        <option value="never">Jamais</option>
                        <option value="specificalDate">Jusqu'au</option>
                    </select>
                </div>

                <div class="flex items-center justify-between mb-6" id="contenuCacheDateFin" style="display: none;">
                    <label class="bloc font-semibold mb-1" for="date_fin_rec">Sélectionnez la date de fin :</label>
                    <input id="date_fin_rec" type="date" name="date_fin_rec" value="<%= formattedDate %>" class="w-full border px-3 py-2 rounded">
                </div>
            </div>

            <input type="submit" value="Ajouter" class="px-3 py-2 bg-green-600 rounded hover:bg-green-700 hover:cursor-pointer">
        </form>
    </div>

</div>

<script>
    const checkRecurrence = document.getElementById('recurrence');
    const contenuCache = document.getElementById('contenuCache');

    checkRecurrence.addEventListener('change', function() {
        if(this.checked){
            contenuCache.style.display = 'block';
        }else{
            contenuCache.style.display = 'none';
        }
    });

    const selectionSpecialDate = document.getElementById('fin_rec');
    const contenuCacheDateFin = document.getElementById('contenuCacheDateFin');

    function afficherCalendar(){
        const selectionSpecialDate = document.getElementById('fin_rec');
        const contenuCacheDateFin = document.getElementById('contenuCacheDateFin');
        const dateFinRecInput = document.getElementById('date_fin_rec');

        if(selectionSpecialDate.value == 'specificalDate'){
            contenuCacheDateFin.style.display = 'block';
            dateFinRecInput.required = true;
        }else{
            contenuCacheDateFin.style.display = 'none';
            dateFinRecInput.required = false;
        }
    }

    const dateDebAppointment = document.getElementById('date_debut');
    const dateFinAppointment = document.getElementById('date_fin');
    let heureDebut = document.querySelector("#heure_debut");
    let heureFin = document.querySelector("#heure_fin");
    

    //permet de vérifier si la date de fin est antérieur à la date de debut
    function validiteDateFin(){
        const valueDateDeb = dateDebAppointment.value;
        const valueDateFin = dateFinAppointment.value;

        if(valueDateFin && valueDateDeb && valueDateFin < valueDateDeb){
            dateFinAppointment.value = valueDateDeb;
        }
    }

    //permet de changer la date de fin en fonction de la date de debut
    function updateDateFin(){
        const valueDateDeb = dateDebAppointment.value;

        if(valueDateDeb){
            dateFinAppointment.setAttribute('min', valueDateDeb);
        }else {
            dateFinInput.removeAttribute('min');
        }
        validiteDateFin();
    }

    // Permet de ne pas avoir d'heure de fin antérieur à l'heure de début (sur le même jour)
    function updateHeureFin() {
        // Même jour
        if (dateDebAppointment.value === dateFinAppointment.value) {
            if (heureDebut.value > heureFin.value)
                heureFin.value = heureDebut.value;
        }
    }

    

    dateDebAppointment.addEventListener('change', updateDateFin);
    heureDebut.addEventListener("change", updateHeureFin)

    //appel la fonction quand le focus n'est plus sur dateFinAppointment
    dateFinAppointment.addEventListener('blur', validiteDateFin);
    heureFin.addEventListener("blur", updateHeureFin);



    
</script>