<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title><%= "Agenda" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<script>
  let user = JSON.parse('<%- JSON.stringify(user) %>')
  theme = user.theme || localStorage.getItem("theme") || "dark"; 


  document.addEventListener("DOMContentLoaded", () => {
    document.body.classList.add(theme);
  })
</script>
<script>
async function openModal(url, script, options = {}) {
  let overlay = document.getElementById("modal-overlay");
  let container = document.getElementById("modal-container");

  let fetchOptions = {
      method: options.method || "GET",
      headers: options.headers || {},
  };

  if (options.method === "POST" && options.body) {
    fetchOptions.headers["Content-Type"] = "application/json";
    fetchOptions.body = JSON.stringify(options.body);
  }

  overlay.classList.toggle("hidden");
  overlay.classList.toggle("flex");

  let html = await fetch(url, fetchOptions).then(res => res.text());

  container.innerHTML = html;



  if (script && !document.querySelector(`script[src="${script}"]`)) {
    let s = document.createElement("script");
    s.src = script;
    s.defer = true;
    s.dataset.scriptModal = true
    document.body.appendChild(s);
  }
}

document.addEventListener("click", e => {
    if (e.target.matches("#modal-overlay") || e.target.closest("[data-close-modal]")) {
        document.querySelector("#modal-overlay").classList.toggle("hidden");
        document.querySelector("#modal-overlay").classList.toggle("flex");
        document.querySelector("#modal-container").innerHTML = "";
    }
});
</script>
<body class="<%= user?.theme %>">

  <%- include("header") %>

  <div class="fixed w-full h-full top-0 left-0 z-30 bg-slate-900/60 items-center justify-center hidden" id="modal-overlay">
    <div id="modal-container">

    </div>
  </div>

  <div class="flex-1 flex w-full mx-auto">
    <%- body %>
  </div>

<script src="/js/confirmation.js"></script>
<script src="/js/delete-handler.js"></script>
  <div id="toastContainer" class="fixed bottom-5 right-5 z-50 flex flex-col gap-3 items-end"></div>
</body>


<script src="/js/dynamic.js"></script>
<script src="/js/toast-dynamic.js"></script>
<script src="/js/appointments-dynamic.js"></script>
<script src="/js/notifications-dynamic.js"></script>
<script src="/js/appointment-dragdrop.js"></script>
<script src="/js/agenda-dynamic.js"></script>
</html>
