<% layout("modals/template") %>
<div class="text-center font-semibold ">
    <form method="POST" action="<%= action %>">

        <div class="flex items-center justify-between mb-6">
                <label class="flex-1 font-semibold mb-1 md-4" for="nom">Nom de l'agenda</label>
                <input id="nom" type="text" name="nom" placeholder="Nom" required value="<%= agenda.nom %>" class="border px-3 py-2 rounded">
        </div>

        <div class="flex items-center justify-between mb-6">
                <label class="flex-1 font-semibold mb-1 md-4" for="description">Description de l'agenda</label>
                <input id="description" type="text" name="description" placeholder="Description..." value="<%= agenda.description || '' %>" class="border px-3 py-2 rounded">
        </div>

        <div class="flex items-center justify-between mb-6">
            <label class="flex-1 font-semibold mb-1 md-4" for="couleur">Couleur de l'agenda</label>
            <div class="relative">
                <select id="couleur" name="couleur" class="appearance-none border px-3 py-2 rounded text-stone-100 pr-8">
                <option value="red"      data-color="bg-red-600" <%= agenda.couleur === 'red' ? 'selected' : '' %>>Rouge</option>
                <option value="green"    data-color="bg-green-600" <%= agenda.couleur === 'green' ? 'selected' : '' %>>Vert</option>
                <option value="blue"     data-color="bg-blue-600" <%= agenda.couleur === 'blue' ? 'selected' : '' %>>Bleu</option>
                <option value="yellow"   data-color="bg-yellow-500" <%= agenda.couleur === 'yellow' ? 'selected' : '' %>>Jaune</option>
                <option value="purple"   data-color="bg-purple-600" <%= agenda.couleur === 'purple' ? 'selected' : '' %>>Violet</option>
                <option value="orange"   data-color="bg-orange-600" <%= agenda.couleur === 'orange' ? 'selected' : '' %>>Orange</option>
                <option value="pink"     data-color="bg-pink-600" <%= agenda.couleur === 'pink' ? 'selected' : '' %>>Rose</option>
                <option value="gray"     data-color="bg-gray-600" <%= agenda.couleur === 'gray' ? 'selected' : '' %>>Gris</option>
                </select>

                <div id="color-preview" class="absolute right-2 top-1/2 -translate-y-1/2 w-5 h-5 rounded-full border border-stone-400"></div>
            </div>
        </div>
        
        <div class="flex flex-col md:flex-row items-center justify-evenly">    
            <input type="submit" value="<%= buttonText %>" name="actionType" class="px-3 py-2 rounded hover:cursor-pointer">
            <% if (buttonText == "Modifier") { %>
                <input type="button" value="Supprimer" data-delete-action="agenda" class="px-3 py-2 bg-red-600 rounded hover:bg-red-700 hover:cursor-pointer">
            <% } %>
        </div>
    </form>
</div>