<% layout('calendar/layout_calendar') %>
<% let isToday = new Date().toLocaleDateString("fr-FR") == data.dayLabel;
 %>
<div class="flex relative" style="height: 1500px;">
  <div class="absolute day-hours-background flex flex-col">
    <% for (let h = 0; h < 24; h++) { %>
      <div class="flex flex-1 w-full items-center justify-center">
        <%= h.toString().padStart(2, "0") %>:00
      </div>
    <% } %>
  </div>
  <div class="absolute left-16 top-0 right-0 h-full calendar-hours-background<%= isToday ? "-today" : "" %>"
       style="background-size: auto calc(100%/24);">

    <% for (let hour = 0; hour < 24; hour++) { %>
      <div class="absolute w-full"
          style="top: calc(<%= hour %> * (100% / 24)); height: calc(100% / 24);"
          data-open-appointment
          data-year="<%= data.requestedDay.getFullYear() %>"
          data-month="<%= data.requestedDay.getMonth() %>"
          data-day="<%= data.requestedDay.getDate() %>"
          data-hour="<%= hour %>">
      </div>
    <% } %>
    <% data.appointments.forEach(app => { %>
      <%- include('../components/appointment', { app, day: data.day, month: data.month, year: data.year }) %>
    <% }) %>
  </div>
</div>
