<% layout('calendar/layout_calendar') %>

<div class="flex flex-col flex-1 h-full">
  <div class="flex flex-1 flex-col border border-stone-700 rounded overflow-hidden">

    <div class="flex flex-row">
        <% const weekDays = ["Lun", "Mar", "Mer", "Jeu", "Ven", "Sam", "Dim"]; %>
        <% weekDays.forEach(day => { %>
        <div class="text-center py-2 font-semibold border-b border-stone-700 flex-1 text-xs">
            <%= day %>
        </div>
        <% }) %>
    </div>

    <% data.days.forEach(week => { %>
        <div class="flex flex-row flex-1">
            <% week.forEach(day => { %>
                <div class="flex flex-1">
                    <div class="relative w-full border-r flex-1 border-b p-2 month-day">
                        <div class="text-sm ">
                            <%= day.getDate() %>
                        </div>
                        <div class="flex md:flex-1 flex-col gap-1 mt-1">
                        <% let appointments = data.appointments.filter(a => a.start.getDate() == day.getDate() && a.start.getMonth() == day.getMonth()); 
                            appointments.forEach(app => {
                            %>
                            <a href="/calendar/day" class="text-xs truncate px-2 py-1 rounded appointment-color-<%=app.color%> transition appointment-month"
                                  data-agenda="<%= app.agendaId %>"  >
                            <span class="hidden md:block"><%= app.nom %></span>
                            </a>
                        <% }) %>
                        </div>
                        <% if (day.getMonth() != data.requestedMonth) { 
                            let appointments = data.appointments.filter(a => a.start.getDate() == day.getDate() && a.start.getMonth() != day.getMonth()); 
                            %>
                        <div class="absolute inset-0 pointer-events-none not-month-day"></div>
                        <% } %>
                    </div>
                </div>
            <% }) %> 
        </div> 
    <% }) %>

  </div>
</div>
